<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>La Posta</title>
</head>

<body>
  <header class="topnav" id="myTopnav">
    <div class="headerNewsCont">
        <a href="/" class="active category">INICIO</a>
        <div class="webHeader">
            {% if categoria %}
                {% for x in categoria %}
                    {% set cid = x[0] %}
                    {% if cid == 1 %}
                        <a class="category" href="/policiales">{{ x[1] }}</a>
                    {% elif cid == 2 %}
                        <a class="category" href="/economia">{{ x[1] }}</a>
                    {% elif cid == 3 %}
                        <a class="category" href="/sociedad">{{ x[1] }}</a>
                    {% elif cid == 4 %}
                        <a class="category" href="/tecno">{{ x[1] }}</a>
                    {% elif cid == 5 %}
                        <a class="category" href="/politica">{{ x[1] }}</a>
                    {% elif cid == 6 %}
                        <a class="category" href="/deportes">{{ x[1] }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="dropdownHeader">
            <div class="dropdownTitle">
                <p class="category">Categorías</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg>
            </div>
            <div class="dropdownCont">
                {% if categoria %}
                    {% for x in categoria %}
                        {% set cid = x[0] %}
                        {% if cid == 1 %}
                            <a class="dropdownCategory" href="/policiales">{{ x[1] }}</a>
                        {% elif cid == 2 %}
                            <a class="dropdownCategory" href="/economia">{{ x[1] }}</a>
                        {% elif cid == 3 %}
                            <a class="dropdownCategory" href="/sociedad">{{ x[1] }}</a>
                        {% elif cid == 4 %}
                            <a class="dropdownCategory" href="/tecno">{{ x[1] }}</a>
                        {% elif cid == 5 %}
                            <a class="dropdownCategory" href="/politica">{{ x[1] }}</a>
                        {% elif cid == 6 %}
                            <a class="dropdownCategory" href="/deportes">{{ x[1] }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>            
    </div>
    <div class="headerUserCont">
        {% if usuario_logueado %}
            {% if es_admin %}
                <a href="/noticiasAdm">NOTICIAS</a>
                <a href="/comentariosAdm">COMENTARIOS</a>
                <a href="/logout">CERRAR SESIÓN</a>
            {% else %}
                <a href="/noticia">¡CREA TU NOTICIA!</a>
                <a href="/misentradas">MIS ENTRADAS</a>
                <a href="/logout">CERRAR SESIÓN</a>
            {% endif %}
        {% else %}
            <a href="/noticia">¡CREA TU NOTICIA!</a>
            <a href="/login">INICIAR SESIÓN</a>
        {% endif %}
    </div>
</header>

    <form action="registrarse.html" method="post" class="container sessionCont">
      <div class="container formCont">
        <h1>REGISTRATE</h1>
        <p>Completá los siguientes datos para crear tu cuenta</p>
        <label for="email"><b>Nombre</b></label>
        <input type="text" placeholder="Agregar nombre" name="nombre" id="nombre" required>

        <label for="email"><b>Apellido</b></label>
        <input type="text" placeholder="Agregar apellido" name="apellido" id="apellido" required>

        <label for="email"><b>Usuario</b></label>
        <input type="text" placeholder="Agregar usuario" name="usuario" id="usuario" required>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Agregar email" name="email" id="email" required>
    
        <label for="psw"><b>Contraseña</b></label>
        <input type="password" placeholder="Agregar contraseña" name="psw" id="psw" required>
    
        <label for="psw-repeat"><b>Repetir contraseña</b></label>
        <input type="password" placeholder="Repetir contraseña" name="psw-repeat" id="psw-repeat" required>

        <button type="submit" id="submit" class="registerbtn">Registrarse</button>
      </div>
    </form>
    <div class="container2" style="background-color:#f1f1f1">
      <span class="log">¿Ya tenés una cuenta? <a href="login.html">Inicia sesión</a></span>
    </div>
    <script src="ingreso03.js"></script>
</body>
</html>